{% extends 'layout.html.twig' %}
{% block title %}Calendrier{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="../assets/css/calendar.css">
{% endblock %}

{% block content %}



      <div class="row title_calendar">
          <h1>Calendrier</h1>
      </div>




    {% for id in id %}

    {% for date in date %}

        <div>
            <p>{{ game.dateTimeGame }}</p>
        </div>

    {% endfor %}
    <div class="container-fluid">
    <div class="row ligne">

    {% for team1 in $team1 %}
        <div class="">
            <a href="#">{{ team.name }}</a>
        </div>
    {% endfor %}


    {% for scores1 in score1 %}
        <div class="score">
            <p>{{ game.score1 }}</p>
        </div>
    {% endfor %}

    <div class="vs">
        <p>VS</p>
    </div>

    {% for scores2 in score2 %}
        <div class="score">
            <p>{{ game.score2 }}</p>
        </div>
    {% endfor %}


    {% for team1 in $team1 %}
        <div class="">
            <a href="#">{{ team.name }}</a>
        </div>
    {% endfor %}


        </div>
        </div>
    {% endfor %}



{% endblock %}