{% extends 'layout.html.twig' %}
{% block title %}Calendrier{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="../assets/css/calendar.css">
{% endblock %}

{% block content %}

    <img src="assets/images/teams/coupe_quidditch.jpg" class="img-fluid img_coupe" alt="Responsive image">
      <div class="row title_calendar" id="title_calendar">
          <p>Calendrier</p>
      </div>

{% if admin %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <a href="calendar/add" type="button" class="btn btn-primary" style="font-family: 'DejaVu Sans'";><i class="fas fa-plus-circle"></i>

                Ajouter un Match</a>
        </div>
    </div>
{% endif %}



    {% for game in games %}


    <div class="container">
        <div class="row ligne">
            <div class="match_banner">
                <div class=" d-flex date_box justify-content-center">
                    {% if admin %}
                        <a href="/calendar/edit-{{ game.id }}" type="button"  style="font-family: 'DejaVu Sans'"; class="btn btn-success m-1 boutedit">
                            <i class="fas fa-wrench"></i>Editer le Match</a>

                        <a href="/calendar/delete-{{ game.id }}" type="button" class="btn btn-danger boutdel">
                            <i class="far fa-trash-alt"></i> Supprimer</a>

                    {% endif %}

                    <p class="dateMatch text-center">
                        {{ game.getDate }}<br>
                        {{ game.getTime }}<br>
                    </p>

                </div>

                <div class="logo_score_boxes">

               <div class="logo_score_box1">

                    <div class="logo">
                        <p class="nameTeam img-fluid">{{ game.nameTeam1 }}</p>
                        <img class="card-img-top" src="{{ game.logoTeam1 }}" alt="Logo équipe">
                    </div>


                    <div class="score">
                        <p>{{ game.score1 }}</p>
                    </div>
               </div>

            <div class="logo_score_box2">
                    <div class="score score2">
                        <p>{{ game.score2 }}</p>
                    </div>


                        <div class="logo">
                            <p class="nameTeam">{{ game.nameTeam2 }}</p>
                            <img class="card-img-top" src="{{ game.logoTeam2 }}" alt="Logo équipe">
                        </div>

                </div>
                </div>
            </div>
        </div>
    </div>


    {% endfor %}


{% endblock %}

{% block javascript %}
    {{ parent() }}

<script>
    $('.boutdel').on('click', confirmationDelete);

    function confirmationDelete(evt)
    {
        evt.preventDefault();
        let conf = confirm('Voulez-vous vraiment supprimer ce match ?');
        if(conf)
            window.location=evt.currentTarget.attr("href");
    }
</script>

{% endblock %}


