{% extends 'Presentation/presentation.html.twig' %}
{% block title %}Notre équipe{% endblock %}
{% block stylesheet %}
{{ parent() }}
{% endblock %}

{% block navbar %}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="card col-md-6 offset-md-3">
            <div class="card-header">
                <h1 class="mb-0 text-dark">Edition</h1>
            </div>
            <div class="card-body">
                <form method="post">
                    <input hidden name="id" value="{{ presentation.id }}">
                    <div class="form-group">
                        <label for="title">Titre</label>
                        <input
                                type="text"
                                class="form-control"
                                id="title"
                                name="title"
                                value="{{ presentation.title }}"
                                placeholder=""
                        >
                    </div>
                    <div class="form-group">
                        <label for="content">Contenu</label>
                        <textarea
                                class="form-control"
                                name="content"
                                id="content"
                                placeholder=""
                        >{{ presentation.content }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="picture1">Image 1</label>
                        <input
                                type="picture1"
                                class="form-control"
                                name="picture1"
                                id="picture1"
                                value="{{ player.picture1 }}"
                                placeholder=""
                        >
                    </div>
                    <div class="form-group">
                        <label for="picture2">Image 2</label>
                        <input
                                type="picture2"
                                class="form-control"
                                name="picture2"
                                id="picture2"
                                value="{{ player.picture2 }}"
                                placeholder=""
                        >
                    </div>
                    <div class="form-group">
                        <label for="picture1">Image 3</label>
                        <input
                                type="picture3"
                                class="form-control"
                                name="picture3"
                                id="picture3"
                                value="{{ player.picture3 }}"
                                placeholder=""
                        >
                    </div>
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                    <a href="/presentation" type="button" class="btn btn-primary">Retour au site</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
 