{% extends 'layout.html.twig' %}
{% block title %}Notre équipe{% endblock %}
{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/assets/css/presentation.css">
{% endblock %}


{% block content %}
    <div class="container presentation">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Notre équipe<img class="vif" src="/assets/images/vif.svg"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <img src="/assets/images/presentation/gryf-team-big.jpg" class="img-fluid">
            </div>
        </div>

        {% for info in presentationInfo %}

        <div class="row bloc">
            <div class="col-12 col-md-6 text-center align-middle">
                <h2>{{ info.title }}</h2>
                <img class="icone" src="{{ info.logo }}">
            </div>
            <div class="col-12 col-md-6">
                <p>{{ info.content }}</p>
                {% if admin %}
                <a href="/presentation/edit-{{ info.id }}" type="button" class="btn btn-success">Modifier</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4 text-center">
                <img src="{{ info.picture1 }}" alt="{{ info.title }} - Illustration 1" class="img-fluid miniature">
            </div>
            <div class="col-xs-12 col-md-4">
                <img  src="{{ info.picture2 }}" alt="{{ info.title }} - Illustration 2" class="img-fluid miniature">
            </div>
            <div class="col-xs-12 col-md-4">
                <img  src="{{ info.picture3 }}" alt="{{ info.title }} - Illustration 3" class="img-fluid miniature">
            </div>
        </div>

        {% endfor %}
    </div>
 
    {% endblock %}
    
 